.container .joyful {
    background-color: rgb(255, 255, 194);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
    display: flex;
}

.container .sadness {
    background-color: rgb(203, 203, 252);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
    display: flex;
}

.container .angry {
    background-color: rgb(255, 182, 182);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
    display: flex;
}

.container .disgusting {
    background-color:rgb(170, 250, 170);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
    display: flex;
}

.container .afraid {
    background-color: rgb(236, 169, 236);
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 3%;
    display: flex;
}
